@page "/battleshipgame"

<h3>BattleshipGame</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <Grid />
        </div>
        <div class="col-sm-5">
            <Grid />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <Grid />
        </div>
        <div class="col-sm-5">
            <Grid />
        </div>
    </div>
</div>

@code {

}
