@page "/battleshipgame"
// inject IPlayer Player

<h3>BattleshipGame</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <Grid squares=player1.MainGrid.GetSquares()/>
        </div>
        <div class="col-sm-5">
            <Grid squares=player2.MainGrid.GetSquares()/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <Grid squares=player1.OpponentGrid.GetSquares() />
        </div>
        <div class="col-sm-5">
            <Grid squares=player2.OpponentGrid.GetSquares() />
        </div>
    </div>
</div>

@code {        

    IPlayer player1;
    IPlayer player2;

    protected override void OnInitialized()
    {
        // TODO: inject
        player1 = new Player(new GridCreator(10));
        player2 = new Player(new GridCreator(10));
    }
}
