@page "/battleshipgame"
@inject IEngine Engine

<h3>BattleshipGame</h3>

<div>
<button @onclick="StartGame">Play</button>
</div>

<div class="container gridcontainer">
    <div class="row">
        <div class="col-sm-5 grid-column">
            <h3>Player 1</h3>
            <Grid squares=Joe.PlayerGrid.GetSquares()/>
        </div>
        <div class="col-sm-5 grid-column">
            <h3>Player 2</h3>
            <Grid squares=Kim.PlayerGrid.GetSquares()/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 grid-column">
            <Grid squares=Joe.OpponentGrid.GetSquares() />
        </div>
        <div class="col-sm-5 grid-column">
            <Grid squares=Kim.OpponentGrid.GetSquares() />
        </div>
    </div>
</div>

@code {        

    IPlayer Joe;
    IPlayer Kim;


    public void f()
    {

    }

    public void StartGame()
    {
        Engine.Play(Joe, Kim);
        Engine.Play(Kim, Joe);

        //target1 = player1.ChooseTarget();
        //var newTarget1State = player2.Shot(target1);
        //player1.UpdateOpponentGrid(target1, newTarget1State);

        //target2 = player2.ChooseTarget();
        //var newTarget2State = player1.Shot(target2);
        //player2.UpdateOpponentGrid(target2, newTarget2State);


    }

    //protected override void OnInitialized()
    //{
    //    Joe = Engine.CreatePlayer();
    //    Kim = Engine.CreatePlayer();
    //}

   
    protected override async Task OnInitializedAsync()
    {
        Joe = await Engine.CreatePlayerAsync();
        Kim = await Engine.CreatePlayerAsync();
    }

    protected override 
}
