@page "/battleshipgame"
@inject IEngine Engine

<h3>BattleshipGame</h3>

<div>
<button @onclick="StartGame">Play</button>
</div>
<label>@winner</label>

<div class="container gridcontainer">
    <div class="row">
        <div class="col-sm-5 grid-column">
            <h3>@JoeName</h3>
            <Grid squares=JoeGrid Size="GridSize"/>
        </div>
        <div class="col-sm-5 grid-column">
            <h3>@KimName</h3>
            <Grid squares=KimGrid Size="GridSize"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 grid-column">
            <Grid squares=JoeOpGrid Size="GridSize" />
        </div>
        <div class="col-sm-5 grid-column">
            <Grid squares=KimOpGrid Size="GridSize" />
        </div>
    </div>
</div>

@code {        

    IPlayer Joe;
    IPlayer Kim;
    string winner = string.Empty;

    string JoeName => Joe == null ? "player1" : Joe.Name;
    string KimName => Kim == null ? "player2" : Kim.Name;

    SquareStates[,] JoeGrid =>
    Joe == null ? new SquareStates[10, 10] : Joe.PlayerGrid.GetSquares();
    SquareStates[,] JoeOpGrid =>
        Joe == null ? new SquareStates[10, 10] : Joe.OpponentGrid.GetSquares();
    SquareStates[,] KimGrid =>
        Joe == null ? new SquareStates[10, 10] : Kim.PlayerGrid.GetSquares();
    SquareStates[,] KimOpGrid =>
        Joe == null ? new SquareStates[10, 10] : Kim.OpponentGrid.GetSquares();

    int GridSize =>
        Joe == null ? 10 : Joe.PlayerGrid.Size;

    public async Task StartGame()
    {
        var player1 = Joe;
        var player2 = Kim;
        bool hasShips;

        do
        {
            var tempPlayer = player1;
            player1 = player2;
            player2 = tempPlayer;

            hasShips = Engine.Play(player1, player2);

            await Task.Delay(50);

            StateHasChanged();
        }
        while (hasShips);

        winner = $"WINNER: {player1.Name}";
    }

    protected override async Task OnInitializedAsync()
    {
        Joe = await Engine.CreatePlayerAsync("Joe");
        Kim = await Engine.CreatePlayerAsync("Kim");
    }
}
