<h3>Grid</h3>

    <div class="row">
        @for (int hi = 0; hi <= 10; hi++)
        {
            <div class="col-sm">
                @if (hi != 0)
                {
                    @hi
                }
            </div>
        }
    </div>
    @for (int i = 0; i < 10; i++)
    {
        <div class="row">
            <div class="col-sm">
                @GetCharFromInt(i)
            </div>

            @for (int j = 0; j < 10; j++)
            {
                <div class="col-sm" style="border: solid 1px black">
                    @GetCharFromSquareState(squares[i, j])
                </div>
            }
        </div>
    }

@code {

    [Parameter]
    public SquareStates[,] squares { get; set; }

    private char GetCharFromInt(int number)
    {
        return Convert.ToChar(65 + number);
    }

    private char GetCharFromSquareState(SquareStates state)
    {
        switch(state)
        {
            case SquareStates.Ship:
                return 'S';
            case SquareStates.HittedShip:
                return '/';
            case SquareStates.SunkShip:
                return 'X';
            case SquareStates.Virgin:
                return ' ';
            case SquareStates.MissedShot:
                return '*';
            default:
                return '?';
        }
    }
}
